
@font-face {
  font-family: "Roboto-Regular";
  src: url("./Roboto-Regular.ttf");
}

body{
  background-color: #edf3f1;
}


h1, h2, section, p, li, h3, h4{
  font-family: "Roboto-Regular";
}

.title{

}
