@media screen and {max-width: 767px};

@font-face {
  font-family: "Roboto-Regular";
  src: url("./Roboto-Regular.ttf");
}

body{
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: #edf3f1;
}


h1, h2, section, p, li, h3, h4{
  font-family: "Roboto-Regular";
}


header{
  box-sizing: content-box;
  grid-column-start: 2;
  grid-column-end: 5;
}

.title{
box-sizing: content-box;
}

.subtitle{
box-sizing: content-box;
}

.text{
  box-sizing: content-box;
  grid-column-start: 2;
  grid-column-end: 5;
}

.before-list{
  box-sizing: content-box;
  grid-column-start: 2;
  grid-column-end: 5;
}

.list{
  box-sizing: content-box;
  grid-column-start: 2;
  grid-column-end: 5;
}

footer{
  box-sizing: content-box;
  grid-column: 3;
}
