
@font-face {
  font-family: "Roboto-Regular";
  src: url("./Roboto-Regular.ttf");
}

body{
  background-color: #edf3f1;
}


h1{
font-family: "Roboto-Regular";

}
h2{
font-family: "Roboto-Regular";
}
section{
font-family: "Roboto-Regular";
}
.p1{
font-family: "Roboto-Regular";
}
li{
font-family: "Roboto-Regular";
}
h3{
font-family: "Roboto-Regular";
}
.p2{
font-family: "Roboto-Regular";
}
h4{
font-family: "Roboto-Regular";
}
